<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TP_Heladeria.My.MySettings.PAV_2018_HeladeriaConnectionString"
            connectionString="Data Source=DESKTOP-MKC1CQU;Initial Catalog=PAV_2018_Heladeria;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>